<!DOCTYPE html>
<html>
<head>
    <title>Register</title>
    <link rel="stylesheet" href="login.css">
</head>
<body>
    <div class="flex-container">
        <div class="form-container">
            <h1 class="title">Register</h1>
            <form class="form" action="/register" method="POST">
                <label for="username" class="input-label">Username:</label>
                <input type="text" id="username" name="username" class="input-field" placeholder="Username">
                <label for="email" class="input-label">Email:</label>
                <input type="text" id="email" name="email" class="input-field" placeholder="Email">
                <label for="password" class="input-label">Password:</label>
                <input type="password" id="password" name="password" class="input-field" placeholder="Password">
                <label for="key" class="input-label">Key:</label>
                <input type="text" id="key" name="key" class="input-field" placeholder="Key">
                <input type="submit" value="Submit" class="submit-button">
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
